# This file only contains dependencies needed for development.
# setup.py contains the actual package dependencies, and the package
# should be installed before these requirements.

# Type annotations for tabulate
types-tabulate

# For testing
pytest==9.0.3
pytest-cov>=7.1.0

# For development
mypy==2.1.0
ruff==0.15.15

# Documentation build
# Disabled for now since we don't need them
# sphinx
# sphinx-rtd-theme
