# This file only contains dependencies needed for development.
# setup.py contains the actual package dependencies, and the package
# should be installed before these requirements.

# Type annotations for tabulate
types-tabulate

# For testing
pytest
pytest-cov

# For development
black==22.10.0
mypy==0.982
isort==5.10.1
flake8==5.0.4

# Documentation build
# Disabled for now since we don't need them
# sphinx
# sphinx-rtd-theme
