# This file only contains dependencies needed for development.
# setup.py contains the actual package dependencies, and the package
# should be installed before these requirements.

# Type annotations for tabulate
types-tabulate

# For testing
pytest
pytest-cov

# For development
mypy==0.982
ruff=0.1.3

# Documentation build
# Disabled for now since we don't need them
# sphinx
# sphinx-rtd-theme
